.filtered {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
    flex-wrap: wrap;
    gap: 2rem;
}

.filtered div {
    transition: all 500ms ease-in-out;
}

.filtered div:hover {
    color: gray;
    cursor: pointer;
    scale: 1.1;
    letter-spacing: 0.01rem;
}

.clubs-pictures {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.clubs-pictures img {
    transition: all 250ms ease-in-out;
}

.clubs-pictures img:hover {
    cursor: pointer;
    opacity: 50%;
}

.clubs-pictures img:active {
    opacity: 80%;
}

.clubs-pictures .clubs-title {
    transition: all 500ms ease-in-out;
}

.clubs-pictures .clubs-title:hover {
    color: gray;
    cursor: pointer;
    scale: 1.05;
}

.clubs-pictures .clubs-title:active {
    color: gray;
    cursor: pointer;
    scale: 0.95;
}

@media (max-width: 768px) {
    .filtered {
        width: 100%;
        margin-left: 0;
        gap: 1rem;
    }

    .clubs-pictures {
        width: 100%;
        margin-left: 0;
    }
}
